<marquee class="marque-container" scrollamount="20" direction="right" loop="infinite">
  <div class="marquee-text-container" id="myMarquee">
    <span>
      <img src="https://cdn.shopify.com/s/files/1/0589/2476/1167/files/icons8-fire-48.png?v=1713321586" height="50" width="50" alt="" srcset="">
    </span>
    <span class="marque-text">New Arrivals</span>
    <span>
      <img src="https://cdn.shopify.com/s/files/1/0589/2476/1167/files/icons8-fire-48.png?v=1713321586" height="50" width="50" alt="" srcset="">
    </span>
    <span class="marque-text">New Arrivals</span>
    <span>
      <img src="https://cdn.shopify.com/s/files/1/0589/2476/1167/files/icons8-fire-48.png?v=1713321586" height="50" width="50" alt="" srcset="">
    </span>
    <span class="marque-text">New Arrivals</span>
    <span>
      <img src="https://cdn.shopify.com/s/files/1/0589/2476/1167/files/icons8-fire-48.png?v=1713321586" height="50" width="50" alt="" srcset="">
    </span>
    <span class="marque-text">New Arrivals</span>
    <span>
      <img src="https://cdn.shopify.com/s/files/1/0589/2476/1167/files/icons8-fire-48.png?v=1713321586" height="50" width="50" alt="" srcset="">
    </span>
    <span class="marque-text">New Arrivals</span>
    <span>
      <img src="https://cdn.shopify.com/s/files/1/0589/2476/1167/files/icons8-fire-48.png?v=1713321586" height="50" width="50" alt="" srcset="">
    </span>
    <span class="marque-text">New Arrivals</span>
    <span>
      <img src="https://cdn.shopify.com/s/files/1/0589/2476/1167/files/icons8-fire-48.png?v=1713321586" height="50" width="50" alt="" srcset="">
    </span>
    <span class="marque-text">New Arrivals</span>
    <span>
      <img src="https://cdn.shopify.com/s/files/1/0589/2476/1167/files/icons8-fire-48.png?v=1713321586" height="50" width="50" alt="" srcset="">
    </span>
    <span class="marque-text">New Arrivals</span>
    <span>
      <img src="https://cdn.shopify.com/s/files/1/0589/2476/1167/files/icons8-fire-48.png?v=1713321586" height="50" width="50" alt="" srcset="">
    </span>
    <span class="marque-text">New Arrivals</span>
    <span>
      <img src="https://cdn.shopify.com/s/files/1/0589/2476/1167/files/icons8-fire-48.png?v=1713321586" height="50" width="50" alt="" srcset="">
    </span>
    
  </div>
</marquee>

{% style  %} 
  .marque-container{
    background-color:rgb(51, 255, 87);
    display:flex;
    align-items:center;
    justify-content:center;
  }

  .marquee-text-container span{
    font-size:30px;
    font-weight:bold;
  }

  .marquee-text-container span img{
    align-items:center;
    vertical-align: middle;
    text-align:center;
  }
{% endstyle %}